---
import Layout from '../layouts/Layout.astro';
import deployLogos from '../images/deploy-logos.png';
import deployLogosSmall from '../images/deploy-logos-small.png';
import Card from '../components/Card.astro';
---

<Layout headTitle="About | The Tech Blog">
  <section class="page-content">
    <div class="container">
      <h2>About The Tech Blog</h2>
      <p>
        Welcome to The Tech Blog! Here, you will find comprehensive cheatsheets
        and detailed notes on various tech stacks. Our aim is to provide clear
        and concise information to help you learn and master different
        technologies.
      </p>

      <p>
        All our content is written in markdown format, making it easy to read,
        edit, and integrate with your projects. Whether you are a beginner or an
        experienced developer, you'll find valuable resources to enhance your
        skills.
      </p>

      <Card dark={true}>
        <h3>Use the Tools You Already Love</h3>
        <p>
          At The Tech Blog, we provide tutorials and guides that utilize popular
          tools and frameworks you are already familiar with. Our goal is to
          make learning new technologies seamless and efficient by leveraging
          your existing knowledge.
        </p>
      </Card>

      <h3>Get notes on tones of different technologies</h3>
      <img class="logos" src={deployLogos.src} alt="" />
      <img class="logos-small" src={deployLogosSmall.src} alt="" />
      <p>
        Our guides and tutorials include deployment strategies that cover
        various platforms, ensuring you can deploy your projects anywhere,
        including edge networks. Learn best practices for deploying and
        maintaining your applications.
      </p>

      <h3>Stay Updated</h3>
      <p>
        Keep up-to-date with the latest developments and trends in tech. We
        provide insights and analyses to help you stay informed and ahead in
        your tech journey.
      </p>

      <h3>Explore Our Resources</h3>
      <ul>
        <li>💬 Explore cheatsheets for various tech stacks.</li>
        <li>💬 Access detailed notes in markdown format.</li>
        <li>💬 Learn practical tips and tutorials.</li>
      </ul>
    </div>
  </section>
</Layout>
