---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro';

const posts = await Astro.glob('../blogs/*.md');
---

<Layout headTitle="Astro Blog">
  <Showcase
    heading="Astro Blog"
    description="A simple blog built with Astro web framework"
  />
  <section class="page-content">
    <div class="container">
      {
        posts.map((post) => (
          <Card>
            <h3>{post.frontmatter.title}</h3>
            <div>
              Written by <strong>{post.frontmatter.author}</strong> on{' '}
              {new Date(post.frontmatter.date).toLocaleDateString()}
            </div>
            <p>{post.frontmatter.excerpt}</p>
            <a class="btn" href={post.frontmatter.slug}>
              Read more
            </a>
          </Card>
        ))
      }
    </div>
  </section>
</Layout>
