---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
import Tabs from '../components/Tabs.astro';
---

<Layout>
  <Showcase showOtherInfo={true} />
  <Features />
  <section class="page-content">
    <div class="container">
      <h2>Get Started With The Tech Blog</h2>
      <p>
        Start exploring and learning with The Tech Blog! Get started by
        accessing our comprehensive cheatsheets and detailed notes.
      </p>
      <Tabs
        headers={['Markdown', 'Cheatsheets', 'Tutorials']}
        contents={[
          'Learn from markdown notes formatted for easy reading and editing.',
          'Explore cheatsheets covering various tech stacks for quick reference.',
          'Follow step-by-step tutorials to deepen your understanding of technologies.',
        ]}
      />
    </div>
  </section>
</Layout>
