---
import Layout from '../layouts/Layout.astro';

const user = {
  name: 'John',
  age: 25,
};

// get some data
const repoRes = await fetch('https://api.github.com/users/yodkwtf/repos');
const repos = await repoRes.json();

const listItems = ['item1', 'item2', 'item3'];
const listItemClass = 'list-item';
const isVisible = true;
---

<!--# markup -->
<Layout>
  <h1>Hello {user.name}!</h1>

  <ul>
    {listItems.map((item) => <li class={listItemClass}>{item}</li>)}
  </ul>

  <ul>
    {repos.map((repo) => <li>{repo.name}</li>)}
  </ul>

  {isVisible && <p>Visible</p>}

  {isVisible ? <p>I am Visible</p> : <p>I am not visible</p>}
</Layout>

<!--# styles -->
<style>
  h1 {
    color: red;
  }

  .list-item {
    color: purple;
  }
</style>
