---
import Card from './Card.astro';

const features = [
  {
    title: 'Comprehensive Cheatsheets',
    description:
      'Access detailed cheatsheets covering various tech stacks, compiled during my learning journey.',
  },
  {
    title: 'Markdown Notes',
    description:
      'Easily readable notes in markdown format for quick reference and efficient learning.',
  },
  {
    title: 'Interactive Code Examples',
    description:
      'Practical examples and code snippets to help understand and apply concepts effectively.',
  },
];
---

<section class="features">
  <div class="container">
    {
      features.map((card) => (
        <Card>
          <h3>{card.title}</h3>
          <p>{card.description}</p>
        </Card>
      ))
    }
  </div>
</section>

<style>
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }

  @media (max-width: 500px) {
    .features .container {
      grid-template-columns: 1fr;
    }
  }
</style>
