<footer class="footer">
  <div class="container">
    <div>
      <h3>The Tech Blog</h3>
      <p>
        All the cheatsheets are available in Markdown as well as in PDF format. <br
        /> Visit the <a
          href="https://github.com/yodkwtf/my-cheatsheets"
          target="_blank">Cheatsheets Repo</a
        >
        to access them and more.
      </p>
    </div>
    <div>
      <h3>Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blog</a></li>
        <!-- <li><a href="/playground">Playground</a></li> -->
      </ul>
    </div>
  </div>
</footer>

<style>
  .footer {
    background: var(--color-primary);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer a {
    color: #a741ff;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer h3 {
    margin-bottom: 10px;
  }

  .footer div:nth-child(1) {
    text-align: left;
  }

  @media (max-width: 500px) {
    .footer div:nth-child(2) {
      display: none;
    }
  }
</style>
