---
import frameworkLogos from '../images/framework-logos.png';
import frameworkLogosSmall from '../images/framework-logos-small.png';

export interface Props {
  heading?: string;
  description?: string;
  showOtherInfo?: boolean;
}

const {
  heading = 'Welcome to The Tech Blog!',
  description = 'Explore comprehensive cheatsheets and notes for various tech stacks, all in markdown format.',
  showOtherInfo = false,
} = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-text">
    <h1>{heading}</h1>
    <p> {description}</p>
  </div>
  {
    showOtherInfo && (
      <>
        <div class="showcase-img">
          <img class="logos" src={frameworkLogos.src} alt="" />
          <img class="logos-small" src={frameworkLogosSmall.src} alt="" />
        </div>
        <p class="showcase-demo">
          <small>
            This is a simple blog created while learning Astro Web Framework
          </small>
        </p>
      </>
    )
  }
</section>

<style>
  .showcase {
    height: auto;
    background-color: var(--color-secondary);
    background-image: linear-gradient(
      to bottom,
      var(--color-primary),
      rgb(168 22 22 / 0)
    );
    padding: 30px;
  }

  .showcase-blog {
    min-height: 300px;
  }

  .showcase-text {
    max-width: 640px;
    color: #fff;
    text-align: center;
    margin: 50px auto;
  }

  .showcase h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
  }

  .showcase p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .showcase-img {
    text-align: center;
  }

  .showcase-img img {
    border-radius: 10px;
    margin: auto;
  }

  .showcase-demo {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
</style>
