---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface MetaDataProps {
  headTitle: string;
}

const { headTitle = 'The Tech Blog' } = Astro.props as MetaDataProps;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>{headTitle}</title>

    <!-- SEO Meta Tags -->
    <meta
      name="description"
      content="Explore comprehensive cheatsheets and notes for various tech stacks, all in markdown format."
    />
    <meta
      name="keywords"
      content="Tech Blog, Cheatsheets, Markdown, Programming, Tech Stacks, Notes, Tutorials"
    />
    <meta name="author" content="The Tech Blog" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Tech Blog" />
    <meta
      property="og:description"
      content="Explore comprehensive cheatsheets and notes for various tech stacks, all in markdown format."
    />
    <meta
      property="og:image"
      content="https://thetechblog-dk.netlify.app/og-image.jpg"
    />
    <meta property="og:url" content="https://thetechblog-dk.netlify.app" />
    <meta property="og:site_name" content="The Tech Blog" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="The Tech Blog" />
    <meta
      name="twitter:description"
      content="Explore comprehensive cheatsheets and notes for various tech stacks, all in markdown format."
    />
    <meta
      name="twitter:image"
      content="https://thetechblog-dk.netlify.app/og-image.jpg"
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
